/* header */

.header {
  margin: 0 auto;
  padding: 10px;
  color: black;
  background-color: rgba(220, 220, 220, 0.3);
  align-items: center;
}

.logo {
  height: 35px;
  width: 35px;
  margin-right: 25px;
}

.header-div {
  justify-content: center;
}
